*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

}


:root{
    --primary-color:#ff6200;
    --seconday-color:rgba(11, 131, 65)
}

:root {
  --primary:#ff6200; /* Rojo marca (ajústalo) */
  --primary-dark:#cf4f00;
  --text-main: #1f2937;
  --text-light: #6b7280;
  --bg-page: #f9fafb;
  --bg-card: #ffffff;
  --border: #e5e7eb;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.4s; /* Ajusta la velocidad si quieres */
}

/* Esto asegura que la imagen mantenga su proporción mientras viaja */
::view-transition-group(*[style*="view-transition-name: product-image-"]) {
  overflow: hidden;
}